In [1]:
#필요한 패키지 임포트

import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

#지수표현식사용X/
pd.options.display.float_format = '{:.1f}'.format

In [2]:
#파일 불러오기

files = pd.read_excel('2. 지역별 기업현황 데이터(기업이전).xlsx',header=0)
company_move=files.copy()

In [3]:
company_move.head()

,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수
0,201801,강원,강릉시,교동,강원,강릉시,저동,L,L68,부동산업,부동산업,소기업,남,1년이상 2년미만,40대,1
1,201801,강원,강릉시,교동,강원,강릉시,대전동,L,L68,부동산업,부동산업,미분류,남,1년미만,40대,1
2,201801,강원,강릉시,교동,강원,강릉시,지변동,F,F42,건설업,전문직별 공사업,소기업,녀,5년이상 10년미만,40대,1
3,201801,강원,강릉시,교동,강원,강릉시,사천면 미노리,A,A01,"농업, 임업 및 어업",농업,미분류,남,1년미만,40대,1
4,201801,강원,강릉시,대전동,강원,강릉시,대전동,C,C10,제조업,식료품 제조업,소기업,남,5년이상 10년미만,50대,1

In [4]:
company_move.isnull().sum()

기준연월          0
이전전_시도        0
이전전_구군     1749
이전전_법정동       1
이전후_시도        0
이전후_구군     1745
이전후_법정동      13
업종대분류코드      53
업종중분류코드      53
업종대분류명       53
업종중분류명       53
기업규모          0
대표자성별         0
업력구간          0
대표자연령구간       0
기업수           0
dtype: int64

In [5]:
#DATETIME 변형

company_move['datetime'] =company_move['기준연월'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m'))
# DataFrame의 index 변형하기
company_move.set_index('datetime', inplace=True) 
# year 컬럼 생성
company_move['year']=company_move.index.year
company_move['month']=company_move.index.month

company_move.reset_index()

,datetime,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수,year,month
0,2018-01-01,201801,강원,강릉시,교동,강원,강릉시,저동,L,L68,부동산업,부동산업,소기업,남,1년이상 2년미만,40대,1,2018,1
1,2018-01-01,201801,강원,강릉시,교동,강원,강릉시,대전동,L,L68,부동산업,부동산업,미분류,남,1년미만,40대,1,2018,1
2,2018-01-01,201801,강원,강릉시,교동,강원,강릉시,지변동,F,F42,건설업,전문직별 공사업,소기업,녀,5년이상 10년미만,40대,1,2018,1
3,2018-01-01,201801,강원,강릉시,교동,강원,강릉시,사천면 미노리,A,A01,"농업, 임업 및 어업",농업,미분류,남,1년미만,40대,1,2018,1
4,2018-01-01,201801,강원,강릉시,대전동,강원,강릉시,대전동,C,C10,제조업,식료품 제조업,소기업,남,5년이상 10년미만,50대,1,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322849,2020-12-01,202012,충북,청주시 흥덕구,옥산면 국사리,충북,청주시 서원구,남이면 척산리,G,G46,도매 및 소매업,도매 및 상품 중개업,소기업,남,1년미만,30대,1,2020,12
322850,2020-12-01,202012,충북,청주시 흥덕구,옥산면 오산리,충북,청주시 흥덕구,정봉동,G,G46,도매 및 소매업,도매 및 상품 중개업,소기업,녀,5년이상 10년미만,60대,1,2020,12
322851,2020-12-01,202012,충북,청주시 흥덕구,옥산면 오산리,충북,청주시 흥덕구,강내면 궁현리,C,C29,제조업,기타 기계 및 장비 제조업,소기업,남,5년이상 10년미만,50대,1,2020,12
322852,2020-12-01,202012,충북,청주시 흥덕구,옥산면 호죽리,충북,청주시 흥덕구,지동동,C,C28,제조업,전기장비 제조업,소기업,남,20년이상 30년미만,60대,1,2020,12
322853,2020-12-01,202012,충북,청주시 흥덕구,옥산면 환희리,충북,제천시,왕암동,G,G47,도매 및 소매업,소매업; 자동차 제외,미분류,남,2년이상 5년미만,50대,1,2020,12

In [6]:
# 대표자 연령이 20대,30대만 추출

company_move_20dae = company_move.query('대표자연령구간=="20대"')
company_move_30dae = company_move.query('대표자연령구간=="30대"')

# 20대 30대 합치기

company_move_2030dae=pd.concat([company_move_20dae,company_move_30dae])
company_move_2030dae.head()

,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수,year,month
datetime,,,,,,,,,,,,,,,,,,
2018-01-01,201801,강원,원주시,신림면 송계리,강원,원주시,반곡동,D,D35,"전기, 가스, 증기 및 공기조절 공급업","전기, 가스, 증기 및 공기조절 공급업",미분류,미분류,1년이상 2년미만,20대,1,2018,1
2018-01-01,201801,강원,원주시,호저면 주산리,충북,청주시 청원구,주성동,F,F42,건설업,전문직별 공사업,소기업,미분류,1년미만,20대,1,2018,1
2018-01-01,201801,강원,홍천군,홍천읍 삼마치리,강원,춘천시,온의동,F,F42,건설업,전문직별 공사업,소기업,남,1년이상 2년미만,20대,1,2018,1
2018-01-01,201801,경기,광주시,태전동,경기,광주시,태전동,C,C10,제조업,식료품 제조업,소기업,녀,1년미만,20대,1,2018,1
2018-01-01,201801,경기,김포시,운양동,경기,김포시,운양동,L,L68,부동산업,부동산업,중기업,남,2년이상 5년미만,20대,1,2018,1

In [7]:
# 결측치 확인 (시도는 결측값이 0)
company_move_2030dae.isnull().sum()

기준연월         0
이전전_시도       0
이전전_구군     323
이전전_법정동      0
이전후_시도       0
이전후_구군     336
이전후_법정동      3
업종대분류코드      3
업종중분류코드      3
업종대분류명       3
업종중분류명       3
기업규모         0
대표자성별        0
업력구간         0
대표자연령구간      0
기업수          0
year         0
month        0
dtype: int64

In [8]:
# 이전전_구군 누락값 확인해보기

company_move_2030dae[company_move_2030dae['이전전_구군'].isnull()]['이전전_시도'].values

array(['세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종'], dtype=object)

In [9]:
# 이전전_구군 결측치 개수 확인
company_move_2030dae[company_move_2030dae['이전전_구군'].isnull()]['이전전_시도'].count()

323

In [10]:
# 이전후_구군 누락값 확인해보기
company_move_2030dae[company_move_2030dae['이전후_구군'].isnull()]['이전후_시도'].values

array(['세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종',
       '세종', '세종', '세종', '세종', '세종', '세종'], dtype=object)

In [11]:
# 이전후_구군 결측치 개수 확인
company_move_2030dae[company_move_2030dae['이전후_구군'].isnull()]['이전후_시도'].count()

336

In [12]:
# 결측치 구군 세종시로 채워주기

company_move_2030dae['이전전_구군']=company_move_2030dae['이전전_구군'].fillna("세종시")
company_move_2030dae['이전후_구군']=company_move_2030dae['이전후_구군'].fillna("세종시")

In [13]:
# 결측치 채워졌는지 확인
# 중분류명 결측치 3개 이전전_시도->이전후_시도가 같아서 != 시도 부분에서 자연스럽게 없어짐

company_move_2030dae.isnull().sum()

기준연월       0
이전전_시도     0
이전전_구군     0
이전전_법정동    0
이전후_시도     0
이전후_구군     0
이전후_법정동    3
업종대분류코드    3
업종중분류코드    3
업종대분류명     3
업종중분류명     3
기업규모       0
대표자성별      0
업력구간       0
대표자연령구간    0
기업수        0
year       0
month      0
dtype: int64

In [14]:
# 이전 시도->이후 시도가 달라진 경우 확인 [시도가 달라진 경우로 시각화 진행]

company_move_2030_diff_sido=company_move_2030dae[company_move_2030dae['이전전_시도']!=company_move_2030dae['이전후_시도']]
company_move_2030_diff_sido

,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수,year,month
datetime,,,,,,,,,,,,,,,,,,
2018-01-01,201801,강원,원주시,호저면 주산리,충북,청주시 청원구,주성동,F,F42,건설업,전문직별 공사업,소기업,미분류,1년미만,20대,1,2018,1
2018-01-01,201801,경기,부천시,중동,서울,종로구,청진동,J,J63,정보통신업,정보서비스업,소기업,미분류,1년미만,20대,1,2018,1
2018-01-01,201801,경기,의정부시,호원동,서울,노원구,상계동,J,J62,정보통신업,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",미분류,녀,5년이상 10년미만,20대,1,2018,1
2018-01-01,201801,경기,성남시 분당구,삼평동,서울,금천구,가산동,J,J58,정보통신업,출판업,소기업,미분류,2년이상 5년미만,20대,1,2018,1
2018-01-01,201801,경기,성남시 수정구,복정동,서울,강남구,신사동,N,N74,"사업시설 관리, 사업 지원 및 임대 서비스업",사업시설 관리 및 조경 서비스업,소기업,미분류,2년이상 5년미만,20대,1,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-01,202012,충남,천안시 서북구,성환읍 성월리,충북,청주시 흥덕구,강내면 월탄리,F,F42,건설업,전문직별 공사업,소기업,녀,5년이상 10년미만,30대,1,2020,12
2020-12-01,202012,충북,제천시,송학면 도화리,경기,양평군,개군면 하자포리,F,F41,건설업,종합 건설업,소기업,남,1년미만,30대,1,2020,12
2020-12-01,202012,충북,진천군,광혜원면 광혜원리,광주,서구,매월동,G,G46,도매 및 소매업,도매 및 상품 중개업,소기업,녀,1년이상 2년미만,30대,1,2020,12
2020-12-01,202012,충북,청주시 상당구,미원면 중리,경기,광주시,초월읍 무갑리,C,C16,제조업,목재 및 나무제품 제조업; 가구 제외,소기업,녀,5년이상 10년미만,30대,1,2020,12
2020-12-01,202012,충북,청주시 흥덕구,복대동,서울,강남구,역삼동,G,G47,도매 및 소매업,소매업; 자동차 제외,중기업,녀,2년이상 5년미만,30대,1,2020,12

In [15]:
# 이전 구군->이후 구군이 달라진 경우 확인

company_move_2030_diff_gugun=company_move_2030dae[company_move_2030dae['이전전_구군']!=company_move_2030dae['이전후_구군']]
company_move_2030_diff_gugun.head()

,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수,year,month
datetime,,,,,,,,,,,,,,,,,,
2018-01-01,201801,강원,원주시,호저면 주산리,충북,청주시 청원구,주성동,F,F42,건설업,전문직별 공사업,소기업,미분류,1년미만,20대,1,2018,1
2018-01-01,201801,강원,홍천군,홍천읍 삼마치리,강원,춘천시,온의동,F,F42,건설업,전문직별 공사업,소기업,남,1년이상 2년미만,20대,1,2018,1
2018-01-01,201801,경기,부천시,중동,서울,종로구,청진동,J,J63,정보통신업,정보서비스업,소기업,미분류,1년미만,20대,1,2018,1
2018-01-01,201801,경기,부천시,오정동,경기,여주시,능서면 신지리,C,C28,제조업,전기장비 제조업,소기업,미분류,5년이상 10년미만,20대,1,2018,1
2018-01-01,201801,경기,시흥시,거모동,경기,안산시 단원구,화정동,C,C27,제조업,"의료, 정밀, 광학기기 및 시계 제조업",소기업,남,1년이상 2년미만,20대,1,2018,1

In [16]:
# 이전 구군->이후 구군이 같은 경우 확인(같은 시도,시군군인데 동이 달라진 경우)

company_move_2030dae[company_move_2030dae['이전전_구군']==company_move_2030dae['이전후_구군']].head()

,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수,year,month
datetime,,,,,,,,,,,,,,,,,,
2018-01-01,201801,강원,원주시,신림면 송계리,강원,원주시,반곡동,D,D35,"전기, 가스, 증기 및 공기조절 공급업","전기, 가스, 증기 및 공기조절 공급업",미분류,미분류,1년이상 2년미만,20대,1,2018,1
2018-01-01,201801,경기,광주시,태전동,경기,광주시,태전동,C,C10,제조업,식료품 제조업,소기업,녀,1년미만,20대,1,2018,1
2018-01-01,201801,경기,김포시,운양동,경기,김포시,운양동,L,L68,부동산업,부동산업,중기업,남,2년이상 5년미만,20대,1,2018,1
2018-01-01,201801,경기,김포시,월곶면 개곡리,경기,김포시,월곶면 개곡리,C,C28,제조업,전기장비 제조업,소기업,남,5년이상 10년미만,20대,1,2018,1
2018-01-01,201801,경기,김포시,하성면 하사리,경기,김포시,하성면 마곡리,C,C10,제조업,식료품 제조업,소기업,미분류,미분류,20대,1,2018,1

In [17]:
# 이전 법정동->이후 법정동이 같은 경우 확인(같은 시도,시군구,동까지 같은데 이전한 경우)

company_move_2030dae[company_move_2030dae['이전전_법정동']==company_move_2030dae['이전후_법정동']].head()

,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수,year,month
datetime,,,,,,,,,,,,,,,,,,
2018-01-01,201801,경기,광주시,태전동,경기,광주시,태전동,C,C10,제조업,식료품 제조업,소기업,녀,1년미만,20대,1,2018,1
2018-01-01,201801,경기,김포시,운양동,경기,김포시,운양동,L,L68,부동산업,부동산업,중기업,남,2년이상 5년미만,20대,1,2018,1
2018-01-01,201801,경기,김포시,월곶면 개곡리,경기,김포시,월곶면 개곡리,C,C28,제조업,전기장비 제조업,소기업,남,5년이상 10년미만,20대,1,2018,1
2018-01-01,201801,경기,부천시,상동,경기,부천시,상동,C,C30,제조업,자동차 및 트레일러 제조업,중견기업,미분류,20년이상 30년미만,20대,1,2018,1
2018-01-01,201801,경기,평택시,비전동,경기,평택시,비전동,K,K66,금융 및 보험업,금융 및 보험 관련 서비스업,소기업,남,2년이상 5년미만,20대,1,2018,1

In [18]:
# 2018,2019,2020년으로 나누기 [시도가 달라진 경우로 진행 : 

#company_move_2030_diff_sido : 3개년

company_move_2030_diff_sido_18s=company_move_2030_diff_sido.query('year=="2018"')
company_move_2030_diff_sido_18s

company_move_2030_diff_sido_19s=company_move_2030_diff_sido.query('year=="2019"')
company_move_2030_diff_sido_19s

company_move_2030_diff_sido_20s=company_move_2030_diff_sido.query('year=="2020"')
company_move_2030_diff_sido_20s.head()

,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수,year,month
datetime,,,,,,,,,,,,,,,,,,
2020-01-01,202001,강원,원주시,단구동,서울,서초구,방배동,G,G47,도매 및 소매업,소매업; 자동차 제외,미분류,미분류,1년이상 2년미만,20대,1,2020,1
2020-01-01,202001,강원,정선군,북평면 북평리,인천,서구,오류동,G,G46,도매 및 소매업,도매 및 상품 중개업,소기업,남,5년이상 10년미만,20대,1,2020,1
2020-01-01,202001,강원,춘천시,온의동,서울,서초구,방배동,F,F42,건설업,전문직별 공사업,소기업,남,2년이상 5년미만,20대,1,2020,1
2020-01-01,202001,경기,김포시,장기동,부산,해운대구,재송동,L,L68,부동산업,부동산업,미분류,남,1년미만,20대,1,2020,1
2020-01-01,202001,경기,김포시,고촌읍 신곡리,경북,성주군,초전면 용봉리,L,L68,부동산업,부동산업,소기업,남,2년이상 5년미만,20대,1,2020,1

In [19]:
# groupby 하기 위한 컬럼 만들기 

company_move_2030_diff_sido['count']=1 
company_move_2030_diff_sido.head()

<ipython-input-19-55daf66dae7d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_move_2030_diff_sido['count']=1

,기준연월,이전전_시도,이전전_구군,이전전_법정동,이전후_시도,이전후_구군,이전후_법정동,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,대표자성별,업력구간,대표자연령구간,기업수,year,month,count
datetime,,,,,,,,,,,,,,,,,,,
2018-01-01,201801,강원,원주시,호저면 주산리,충북,청주시 청원구,주성동,F,F42,건설업,전문직별 공사업,소기업,미분류,1년미만,20대,1,2018,1,1
2018-01-01,201801,경기,부천시,중동,서울,종로구,청진동,J,J63,정보통신업,정보서비스업,소기업,미분류,1년미만,20대,1,2018,1,1
2018-01-01,201801,경기,의정부시,호원동,서울,노원구,상계동,J,J62,정보통신업,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",미분류,녀,5년이상 10년미만,20대,1,2018,1,1
2018-01-01,201801,경기,성남시 분당구,삼평동,서울,금천구,가산동,J,J58,정보통신업,출판업,소기업,미분류,2년이상 5년미만,20대,1,2018,1,1
2018-01-01,201801,경기,성남시 수정구,복정동,서울,강남구,신사동,N,N74,"사업시설 관리, 사업 지원 및 임대 서비스업",사업시설 관리 및 조경 서비스업,소기업,미분류,2년이상 5년미만,20대,1,2018,1,1

In [20]:
company_move_2030_diff_sido.isnull().sum()

기준연월       0
이전전_시도     0
이전전_구군     0
이전전_법정동    0
이전후_시도     0
이전후_구군     0
이전후_법정동    0
업종대분류코드    0
업종중분류코드    0
업종대분류명     0
업종중분류명     0
기업규모       0
대표자성별      0
업력구간       0
대표자연령구간    0
기업수        0
year       0
month      0
count      0
dtype: int64

# 기업 이전 시도-> 기업 이후 시도 [year,업종중분류명]

In [21]:
# 기업 이전 시도->기업 이후 시도 year, 업종 별로 그룹바이 하기

company_move_2030_diff_sido_kind=company_move_2030_diff_sido.groupby(['year','이전전_시도','이전후_시도','업종중분류명'])['count'].count()
company_move_2030_diff_sido_kind=pd.DataFrame(company_move_2030_diff_sido_kind)
company_move_2030_diff_sido_kind

                                         count
year 이전전_시도 이전후_시도 업종중분류명
2018 강원     경기     금융업                       1
                   기타 개인 서비스업                1
                   기타 제품 제조업                 1
                   농업                        1
                   도매 및 상품 중개업               4
...                                        ...
2020 충북     충남     기타 운송장비 제조업               1
                   목재 및 나무제품 제조업; 가구 제외      1
                   부동산업                      1
                   음료 제조업                    1
                   임업                        1

[3745 rows x 1 columns]

In [22]:
company_move_2030_diff_sido['업종중분류명']

datetime
2018-01-01                   전문직별 공사업
2018-01-01                     정보서비스업
2018-01-01    컴퓨터 프로그래밍, 시스템 통합 및 관리업
2018-01-01                        출판업
2018-01-01          사업시설 관리 및 조경 서비스업
                       ...
2020-12-01                   전문직별 공사업
2020-12-01                     종합 건설업
2020-12-01                도매 및 상품 중개업
2020-12-01       목재 및 나무제품 제조업; 가구 제외
2020-12-01                소매업; 자동차 제외
Name: 업종중분류명, Length: 9412, dtype: object

In [23]:
#company_move_2030_diff_sido_kind.to_csv('2030대_시도_업종별_기업이전(3개년).csv',encoding='utf-8-sig')

# 기업 이전 시도-> 기업 이후 시도 [year 기준]

In [24]:
company_move_2030_diff_sido_year=company_move_2030_diff_sido.groupby(['year','이전전_시도','이전후_시도'])['count'].count()
company_move_2030_diff_sido_year=pd.DataFrame(company_move_2030_diff_sido_year)
company_move_2030_diff_sido_year

                    count
year 이전전_시도 이전후_시도
2018 강원     경기         21
            경북          1
            광주          2
            대구          3
            부산          3
...                   ...
2020 충북     세종          4
            울산          1
            인천          2
            전북          4
            충남          6

[635 rows x 1 columns]

In [25]:
#company_move_2030_diff_sido_year.to_csv('2030대_시도_기업이전(3개년).csv',encoding='utf-8-sig')

# 기업 이전 시도-> 기업 이후 시도 [year 기준없이 3년 통합]

In [26]:
company_move_2030_diff_sido_toatl=company_move_2030_diff_sido.groupby(['이전전_시도','이전후_시도'])['count'].count()
company_move_2030_diff_sido_toatl=pd.DataFrame(company_move_2030_diff_sido_toatl)
company_move_2030_diff_sido_toatl

               count
이전전_시도 이전후_시도
강원     경기         59
       경남          3
       경북          1
       광주          2
       대구          3
...              ...
충북     인천          5
       전남          2
       전북         10
       제주          2
       충남         23

[253 rows x 1 columns]

In [27]:
#company_move_2030_diff_sido_toatl.to_csv('2030대_시도_기업이전(3개년합계).csv',encoding='utf-8-sig')

In [28]:
#시도 별 전출 순위. 
company_move_2030_diff_sido_year_sum=company_move_2030_diff_sido.groupby(['year','이전전_시도'])['count'].count()
company_move_2030_diff_sido_year_sum

year  이전전_시도
2018  강원          48
      경기         688
      경남         110
      경북          77
      광주          96
      대구          88
      대전          86
      부산         106
      서울         863
      세종          35
      울산          23
      인천         185
      전남          78
      전북          41
      제주          21
      충남         101
      충북          44
2019  강원          39
      경기         787
      경남         106
      경북          94
      광주         105
      대구          80
      대전          89
      부산         142
      서울         931
      세종          24
      울산          35
      인천         208
      전남          97
      전북          58
      제주          25
      충남          94
      충북          65
2020  강원          59
      경기         964
      경남         122
      경북         104
      광주         139
      대구          97
      대전         130
      부산         155
      서울        1247
      세종          47
      울산          35
      인천         279
      전남          92
      전북          60
      제주          31
      충남         114
      충북          68
Name: count, dtype: int64

In [29]:
#company_move_2030_diff_sido_year_sum.to_csv('기업_이전_시도_카운트.csv',encoding='utf-8-sig')

# 기업 이후 시도 카운트 ex) 서울지역으로 얼마나 들어왔는지 확인!

In [30]:
company_move_2030_diff_sido_year_rever=company_move_2030_diff_sido.groupby(['year','이전후_시도'])['count'].count()
company_move_2030_diff_sido_year_rever

year  이전후_시도
2018  강원          66
      경기         848
      경남          88
      경북          91
      광주          81
      대구          73
      대전          65
      부산         106
      서울         650
      세종          33
      울산          31
      인천         212
      전남          84
      전북          45
      제주          35
      충남         115
      충북          67
2019  강원          70
      경기         940
      경남         105
      경북         105
      광주          73
      대구          98
      대전          67
      부산         111
      서울         704
      세종          30
      울산          33
      인천         212
      전남         100
      전북          81
      제주          34
      충남         115
      충북         101
2020  강원          68
      경기        1252
      경남         133
      경북         122
      광주          76
      대구          98
      대전          83
      부산         147
      서울         834
      세종          56
      울산          41
      인천         300
      전남         141
      전북          79
      제주          41
      충남         182
      충북          90
Name: count, dtype: int64

In [31]:
#company_move_2030_diff_sido_year_rever.to_csv('기업_이후_시도_카운트.csv',encoding='utf-8-sig')